.container {
    width: 80%;
    min-width: 1170px;
    max-width: 1500px;
}
header{
  background-color:#0e1d30; 
}
.bg-primary{
  background-color:#1b2c42 !important; 
}

.slider{
  padding: 50px 0px;
}
#timewapper{
 
  margin: auto;
   margin-top: 50px;
  white-space: nowrap;
}
.flip-clock-wrapper{
  margin:0 !important; 
  color: #FFF;
}
.flip-clock-label, .flip-clock-dot.top{
  color: #FFF !important; 
}

.logoform{
  position: absolute;
  margin-top: -55px;
}
#features .card{
  border:0px;
}

footer{
   background-color:#1b2c42 !important; 
   color: #FFF;
}